header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    text-align: center;
    height: 3em;
    background-color: blueviolet;
    color: white;

}
div {
    font-size: 2rem;
    align-items: center;
}